@font-face {
    font-family: "TwCenMTStd";
    src: url(Fonts/TwCenMTStd.otf);
}

body{
    max-height: 100px;
    overflow: hidden
}

h1{
    font-family: "TwCenMTStd";
    text-align: center;
    font-size: 40px;
    position: 10px;
}


img{
    width: 300px;
    height: auto;

}

a {
    transition: transform .2s;
}
.DivImage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    scale: 20px;
}


a:hover {

    transform: scale(1.3);
    
    }

.scroller {
    height: 250px;
    margin: -50px auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
}

.scroller-track {
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 7));
    }
}

.scroll {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
.scroll img {
    width: 70%;
    transition: transform 1s;
}

.scroll img:hover {
    transform: translatez(20px);

}

.scroller::before,
.scroller::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.scroller::before{
    left: -10%;
    top: 0;
}

.scroller::after{
    right: -10%;
    top: 0;
    transform: rotateZ(180deg);
}

.Socials {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    scale: 20px;
}

.Socials img {
    width: 50px;
    padding: 20px;
}

.Socials img {
        transition: transform .2s;
}

.Socials img:hover {
    transform: scale(1.5);
}

p {
    
    font-family: "TwCenMTStd";
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
}